.main{
    height: 100vh;
    padding :10% 30%;
    
}
.about{
    padding-top: 50px;;
    text-align: center;
    font-size: 40px;
}


.title{
   text-align: center;
   padding-top: 50px;
}

.para{
    align-items: center;
   
    padding-top: 50px;
    text-align: center;
    line-height: 1.5;
}